<div class="grid gap-2 mb-6 md:grid-cols-2" id="fields-container">
    {% for key, value in asset.configuration.items %}
        {% if key != 'description' %}
            <div class="flex items-center mb-2" id="{{ key }}-field">
                <div class="flex flex-col w-full">
                    <p class="block text-sm font-medium text-gray-900 mb-1">{{ key }}</p>
                    <p class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-10">{{ value }}</p>
                </div>
            </div>
        {% else %}
            <div class="col-span-2" id="description-field">
                <p class="block text-sm font-medium text-gray-900">description</p>
                <div class="relative flex-grow">
                    <p class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500">{{ asset.configuration.description }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

