{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">RoboProp</h1>
        <h2 class="mt-4">My Assets</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
            {% for asset in thumbnails %}
                <div class="col">
                    <div class="card h-100">
                        <img src="data:image/png;base64,{{ asset.thumbnail }}" class="card-img-top" alt="Thumbnail" style="object-fit: cover; height: 280px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ asset.name }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}