{% extends "base.html" %}

{% block title %}Find Models{% endblock %}

{% block content %}
    <div class="flex justify-between">
        <div class="flex flex-col">
            <p>Search on Fuel or Blenderkit</p>
            <form method="get" action="{% url 'find-models' %}" class="flex">
                <input type="text" name="search" placeholder="Search..." class="mr-2">
                <button type="submit" class="text-white bg-action focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Search</button>
            </form>
        </div>
        <div class="flex flex-col">
            <p>Add a model directly from Blenderkit using the model's Asset Base ID</p>
            <form method="get" action="{% url 'find-models' %}" class="flex">
                <input type="text" name="add-directly" placeholder="Blenderkit Asset Base ID" class="mr-2">
                <button type="submit" class="text-white bg-action focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Blenderkit Asset Base ID</button>
            </form>
        </div>
    </div>

    {% if fuel_models %}
        <p class="m-3">Found {{ fuel_models|length }} models from fuel using search term: {{ search }}</p>
        <div id="notification" class="hidden font-bold px-4 py-2 rounded-md text-white w-2/3 my-2">
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4" id="fuel-gallery">
            {% for model in fuel_models %}
                <div class="flex flex-col items-center shadow shadow-action/50 relative">
                    <p class="cursor-pointer absolute top-0 right-0 bg-white shadow-md px-2 py-1 m-1 bg-action/80" onClick="addFuelModel('{{ model.name }}', '{{ model.owner }}')">+</p>
                    <div class="mb-2">
                        <img class="h-44 w-auto max-w-full rounded-lg" src="{% if model.thumbnail %}https://fuel.gazebosim.org/1.0/{{ model.thumbnail }}{% else %}/static/images/placeholder.png{% endif %}">
                    </div>
                    <div class="mb-2 max-w-full">
                        <p class="text-xs text-center font-bold break-words">{{ model.name }}</p>
                        <p class="text-xs text-center break-words">{{ model.description|default:"No description" }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="m-3">No models found for search term: {{ search }} from fuel </p>
    {% endif %}
    {% if blenderkit_models %}
        <p class="m-3">Found {{ blenderkit_models|length }} models from Blenderkit using search term: {{ search }}</p>
        <div id="notification" class="hidden font-bold px-4 py-2 rounded-md text-white w-2/3 my-2">
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4" id="fuel-gallery">
            {% for model in blenderkit_models %}
                <div class="flex flex-col items-center shadow shadow-action/50 relative">
                    <p class="cursor-pointer absolute top-0 right-0 bg-white shadow-md px-2 py-1 m-1 bg-action/80" onClick="addBlenderKitModel('{{ model.name }}', '{{ model.assetBaseId }}', '{{ model.thumbnail }}')">+</p>
                    <div class="mb-2">
                        <img class="h-44 w-auto max-w-full rounded-lg" src="{% if model.thumbnail %}{{ model.thumbnail }}{% else %}/static/images/placeholder.png{% endif %}">
                    </div>
                    <div class="mb-2 max-w-full">
                        <p class="text-xs text-center font-bold break-words">{{ model.name }}</p>
                        <p class="text-xs text-center break-words">{{ model.description|default:"No description" }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="m-3">No models found for search term: {{ search }} from Blenderkit </p>
    {% endif %}

    {% if search and not fuel_models and not blenderkit_models %}
        <p class="m-3">No models found for search term: {{ search }} </p>
    {% endif %}
    <script>
        function addModel(data) {
            const notification = document.querySelector('#notification');
            notification.innerHTML = '';
            if (!notification.classList.contains('hidden')) {
                notification.classList.add('hidden');
            }
            $.ajax({
                url: '/add-to-my-models/',
                type: 'POST',
                data: data,
                success: function(response) {
                    notification.innerHTML = response.message;
                    notification.classList.remove('hidden');
                    notification.classList.remove('bg-red-500/80');
                    notification.classList.add('bg-green-500/80');
                },
                error: function(error) {
                    notification.innerHTML = error.responseJSON.error;
                    notification.classList.remove('hidden');
                    notification.classList.remove('bg-green-500/80');
                    notification.classList.add('bg-red-500/80');
                },
            });
        }

        function addFuelModel(name, owner) {
            const data = {
                'name': name,
                'owner': owner,
                'library': 'fuel',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            };
            addModel(data);
            
        }

        function addBlenderKitModel(name, assetBaseId, thumbnail) {
            const data = {
                'name': name,
                'assetBaseId': assetBaseId,
                'thumbnail': thumbnail,
                'library': 'blenderkit',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            };
            addModel(data);
        }

    </script>
{% endblock %}
