{% extends "base.html" %}

{% block title %}Fuel{% endblock %}

{% block content %}
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4" id="fuel-gallery">
        {% include "components/_loading_placeholder.html" %}
        {% include "components/_loading_placeholder.html" %}
        {% include "components/_loading_placeholder.html" %}
        {% include "components/_loading_placeholder.html" %}
        {% include "components/_loading_placeholder.html" %}
        {% include "components/_loading_placeholder.html" %}
        {% include "components/_loading_placeholder.html" %}
        {% include "components/_loading_placeholder.html" %}
        {% include "components/_loading_placeholder.html" %}
    </div>

    <div class="mt-3">
        <button id="previous-button" type="button" class="text-white bg-action focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ml-2">Previous</button>
        <button id="next-button" type="button" class="text-white bg-action focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ml-2">Next</button>
    </div>
    <script>
        $(document).ready(function() {
            var models = [];
            var currentPage = {{ page }}
        
            loadModels(currentPage);
        
            // Display the models on the page
            function displayModels(models) {
                // Clear the result div
                $("#fuel-gallery").empty();
            
                // Loop through the models and create a gallery item for each one
                // Loop through the models and create a div element for each one
                for (var i = 0; i < models.length; i++) {
                    var model = models[i];
                    if (model.thumbnail_url == null) {
                        var thumbnailUrl = "/static/images/placeholder.png";
                    } else {
                    var thumbnailUrl = "https://fuel.gazebosim.org/1.0/" + model.thumbnail_url;
                    };
                    var modelCard = `
                        <div class="flex flex-col items-center shadow shadow-action/50">
                            <div class="mb-2">
                                <img class="h-44 w-auto max-w-full rounded-lg" src="${thumbnailUrl}">
                            </div>
                            <div class="mb-2">
                                <p>${model.name}</p>
                            </div>
                        </div>
                    `;
                    $("#fuel-gallery").append(modelCard);
                }
            }

            function loadModels(page) {
                $.ajax({
                    url: "https://fuel.gazebosim.org/1.0/models",
                    type: "GET",
                    data: {
                        order: "+desc",
                        page: page,
                        per_page: 9
                    },
                    success: function(response) {
                        models = response;
                        displayModels(models);
                    },
                    error: function(xhr) {
                        alert("Error: " + xhr.responseText);
                    }
                });
            }
           
            // Handle the "next" button click event
            $("#next-button").click(function() {
                currentPage++;
                loadModels(currentPage);
            });

            $("#previous-button").click(function() {
                currentPage--;
                loadModels(currentPage);
            });
        });
    </script>
{% endblock %}